---

layout: single_column_layout
hero_text: Sample
title: Home

---

<style type="text/css">
.tg  {border-collapse:collapse;border-color:#C44D58;border-spacing:0;border-style:solid;border-width:1px;}
.tg td{background-color:#F9CDAD;border-color:#C44D58;border-style:solid;border-width:0px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#FE4365;border-color:#C44D58;border-style:solid;border-width:0px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-sa8i{background-color:#fd6864;border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-gdrr{background-color:#fd6864;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-65sc{background-color:#fd6864;border-color:#fd6864;color:#fdf6e3;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-og4q{background-color:#fd6864;text-align:left;vertical-align:top}
.tg .tg-g621{background-color:#fd6864;color:#fdf6e3;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 1215px">
<colgroup>
<col style="width: 270px">
<col style="width: 272px">
<col style="width: 333px">
<col style="width: 340px">
</colgroup>
<thead>
  <tr>
    <th class="tg-sa8i">Owner</th>
    <th class="tg-sa8i">Domain</th>
    <th class="tg-gdrr">Status</th>
    <th class="tg-gdrr">Type</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-baqh">Joe Blogs</td>
    <td class="tg-baqh">Retail</td>
    <td class="tg-baqh">Draft</td>
    <td class="tg-baqh">Master</td>
  </tr>
  <tr>
    <td class="tg-65sc">Description</td>
    <td class="tg-og4q"></td>
    <td class="tg-g621">Tags</td>
    <td class="tg-og4q"></td>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="2"></td>
    <td class="tg-0lax" colspan="2"></td>
  </tr>
</tbody>
</table>



{% for item in site.data.glossary.entities %}
<ul>
 <h3>{{item.entity_name}}</h3>
 <li><h4>Description: </h4>{{item.entity_description}}</li>
<li><h4>Owner: </h4>{{item.entity_owner}}</li>
<li><h4>Maturity: </h4>{{item.entity_maturity}}</li> 
</ul>

<ul>
 <h5>Entity Attributes</h5>
{% for entry in item.attributes %}
<li>attribute: {{entry.attribute_name}}</li>
<li>description: {{entry.attribute_description}}</li>
<li>data type: {{entry.attribute_data_type}}</li>

<li>Tags: 
</br>
{% for value in entry.attribute_tags %}
  &emsp; {{ value }} </br>
{% endfor %}
<li>contains pii: {{entry.attribute_contains_pii}}</li>
</ul>

<ul>
<h5>Attribute Tests</h5>
<li>is unique: {{entry.attribute_tests.is_unique}}</li>
<li>is not null: {{entry.attribute_tests.is_not_null}}</li>
 
<li>Accepted values: 
</br>
{% for value in entry.attribute_tests.accepted_values %}
  &emsp; {{ value }} </br>
{% endfor %}  
  
{% endfor %}
</ul>
{% endfor %}
