---

layout: single_column_layout
hero_text: Sample
title: Home

---

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-style:solid;border-width:1px;}
.tg td{background-color:#F9CDAD;border-style:solid;border-width:0px;color:#002b36;
  font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#FE4365;border-style:solid;border-width:0px;color:#fdf6e3;
  font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-vfn0{background-color:#efefef;text-align:left;vertical-align:top}
.tg .tg-gvcd{background-color:#ffffff;color:#000000;text-align:left;vertical-align:top}
.tg .tg-8eoa{background-color:#fd6864;color:#fdf6e3;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-oevy{background-color:#ffffff;color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-4al4{background-color:#fd6864;color:#fdf6e3;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-d0s8{background-color:#fd6864;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-j503{background-color:#ffffff;color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-z0zd{background-color:#fd6864;text-align:left;vertical-align:top}
.tg .tg-iks7{background-color:#ffffff;text-align:left;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}</style>



<div class="tg-wrap">

{% for item in site.data.glossary.entities %}
  
<h3>{{item.entity_name}} ({{item.entity_id}})</h3>
{{item.entity_description}}
<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 17%">
<col style="width: 17%">
<col style="width: 17%">
<col style="width: 17%">
<col style="width: 15%">
<col style="width: 17%">
</colgroup>
  
<thead>
  <tr>
    <th class="tg-d0s8">Owner</th>
    <th class="tg-d0s8">Expert</th>
    <th class="tg-d0s8">Domain</th>
    <th class="tg-d0s8">Status</th>
    <th class="tg-d0s8">Type</th>
    <th class="tg-d0s8">Tags</th>
  </tr>
</thead>
  
<tbody>
  <tr>
    <td class="tg-vfn0">{{item.entity_owner}}</td>
    <td class="tg-vfn0">{{item.entity_expert}}</td>
    <td class="tg-vfn0">{{item.entity_business_domain}}</td>
    <td class="tg-vfn0">{{item.entity_status}}</td>
    <td class="tg-vfn0">{{item.entity_type}}</td>
    <td class="tg-vfn0">
      {% for value in entry.entity_synonyms %} {{ value }} {{", "}} {% endfor %}
    </td>
  </tr>
  <tr>
    <td class="tg-4al4">Attribute</td>
    <td class="tg-4al4">Description</td>
    <td class="tg-4al4">Type</td>
    <td class="tg-4al4">PII | SC</td>
    <td class="tg-4al4">Retail for</td>
    <td class="tg-4al4">Tests</td>
  </tr>
  
  {% for entry in item.attributes %}
  <tr>
    <td class="tg-vfn0"><strong>{{entry.attribute_name}}</strong> ({{entry.attribute_id}})</td>
    <td class="tg-vfn0">{{entry.attribute_description}}</td>
    <td class="tg-vfn0">{{entry.attribute_data_type}}</td>
    <td class="tg-vfn0">{{entry.attribute_contains_pii}} | {{entry.attribute_special_data_category}}</td>
    <td class="tg-vfn0">{{entry.attribute_retention_period_days}} days</td>
    <td class="tg-vfn0"></td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% endfor %}
  

</div>
