

{% for item in site.data.glossary.entities %}
<ul>
<strong>{{item.entity_name}}</strong>
<li>Description: {{item.entity_description}}</li>
<li>Owner: {{item.entity_owner}}</li>
<li>Maturity: {{item.entity_maturity}}</li> 
</ul>
<strong>Attributes</strong>
<ul>
{% for entry in item.attributes %}
<li>attribute: {{entry.attribute_name}}</li>
<li>description: {{entry.attribute_description}}</li>
<li>data type: {{entry.aattribute_data_type}}</li>
<li>tags: {{entry.attribute_tags}}</li>
<li>contains pii: {{entry.attribute_contains_pii}}</li>
</ul>
<br>Tests<br>
<ul>
<li>is unique: {{entry.attribute_tests.is_unique}}</li>
<li>is not null: {{entry.attribute_tests.is_not_null}}</li>
  
{% assign accepted_values = entry.attribute_tests.accepted_values | split: ", " %}

{% for value in accepted_values %}
  {{ value }}
{% endfor %}
  
{% endfor %}
</ul>
{% endfor %}




